// Define States 
State {% for state in transition_table.keys() %} {{state}} {{ ", " if not loop.last else "" }} {% endfor %};

// Define transitions for each state
{%for state, transitions in transition_table.items() %}
Transition {{state}}Transitions[] = {
    {% for transition in transitions %}
    { &{{transition["next_state"]}}, pred_{{transition["condition"]}}} {{ ", " if not loop.last else "" }} 
    {% endfor %}
};{%endfor%}

// Define states with transitions
{%for state, transitions in transition_table.items() %}
State {{state}} = { "{{state}}", {{state}}Action, {{state}}Transitions, {{transitions|count}} };
{%endfor%}